

		<div id="preloader"></div>

		<div class="layout">

			<!-- BEGIN POPUP -->

			<div class="popup-email">
		      <div class="element">
		        <button id="btn" class="btn1 blue-btn medium" type="button">OK <span class="fa fa-check"></span></button>
		      </div>
		    </div>

			<!-- END POPUP -->

			<!-- BEGIN HEADER -->

			<header>

				 <div class="container">

					<a href="#subheader" class="logo left"></a>
					<span class="fa fa-bars hide bars"></span>
					<nav class="right ">
						<ul class="list-inline">
					      <li>
				            <a href="#about">ABOUT</a>
				          </li><!-- 
				           --><li>
				            <a href="#filter">PROJECT</a>
				          </li><!-- 
				           --><li>
				            <a href="#pricing">CLIENTS</a>
				          </li><!-- 
				           --><li>
				            <a href="#team">TEAM</a>
				          </li><!-- 
				           --><li>
				            <a href="#blog">STATS</a>
				          </li><!-- 
				           --><li>
				            <a href="#contact">CONTACT</a>
				          </li>
				          </li><!--
				           --><li>
				           <%= link_to user_session_path do %>
				            <button  type="button" class="button">Login</button>
				            <% end %>
				          </li><!--
				           --><li>
                            <%= link_to new_user_registration_path do %>
				            <button  type="button" class="button">Signup</button>
				            <% end %>
				          </li>
					    </ul>
					</nav>

				 </div>

			</header>

			<!-- BEGIN MAIN -->

			<main id="page-content">

				<!-- BEGIN SUBHEADER -->

				<section id="subheader" class="verticalize verticalize--full">

					<div class="verticalize__box container">
						<article>

							<h3>Association Management Software (AMS)</h3>
							
							<a href="#about" class="btn1 btn--white big findout-more">FIND OUT MORE<span class="icon-right-arrow"></span></a>

						</article>
					</div>
					<div class="clearfix"></div>

					<ul class="rslides" id="slider1">

					  <li><img src="<%= image_url('slider-img1.jpg') %>" alt=""></li>
					  <li><img src="<%= image_url('slider-img2.jpg') %>" alt=""></li>
					  <li><img src="<%= image_url('slider-img1.jpg') %>" alt=""></li>
					  <li><img src="<%= image_url('slider-img2.jpg') %>" alt=""></li>

					</ul>

				</section>

		  		<!-- END SUBHEADER -->

		  		<!-- BEGIN ABOUT -->

		  		<section id="about">

				  	<div class="container">

						<h3 class="dark-blue"><strong>WE ARE NUMBER ONE</strong></h3>
						<!-- <p class="center">AMS is top association management software in Nigeria. It is cloud based and gives secure database for membership management and information retrieval. </p> -->

						<div class="row">
							<div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">
								<i class="icon icon--flag"></i>
						        <h6><strong>EASY STORAGE OF DATA</strong></h6>
						        <!-- <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p> -->
							</div>
							<div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
								<i class="icon icon--mobile"></i>
						        <h6><strong>QUICK AND SEAMLESS RETRIEVAL </strong></h6>
						       <!--  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p> -->
							</div>
							<div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">
								<i class="icon icon--circle-compass"></i>
						        <h6><strong>ROBUST DATABASE</strong></h6>
						       <!--  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p> -->
							</div>
							<div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
								<i class="icon icon--globe"></i>
				          		<h6><strong>WORKS ONLINE AND OFFLINE </strong></h6>
				          		<!-- <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p> -->
							</div>
						</div>

					</div>

		  		</section>

		  		<!-- END ABOUT -->


		  		<!-- BEGIN HEADING-SLOGAN -->

		  		<section id="heading-slogan">
		  			<div class="container ">
		  				<!-- <h4 class="inline">Here you can type a subtitle.</h4> -->
		  				<h2 class="inline"><strong>One System,  All  Data!</strong></h2>
		  				<!-- <a href="#" class="btn1 btn--white-blue big">FINDOUT MORE<span class="icon-right-arrow"></span></a> -->
		  			</div>
		  		</section>

		  		<!-- END HEADING-SLOGAN -->

		  		<!-- BEGIN VIDEO -->

		  		<section id="video" class="verticalize--full verticalize">

		  			<div id="wrapper" class="container text-center verticalize__box" style="position:relative; padding:30px 20px;z-index:10">

					    <div class="console">
					        <!-- <button class="command" onclick="jQuery('#bgndVideo').playYTP()"></button> -->
					   <!--      <button class="command" onclick="jQuery('#bgndVideo').pauseYTP()"> pause </button> -->
					    </div>
					    <!-- <h3 class="dark-blue"><strong>VIDEO BACKGROUND</strong></h3> -->
						<p class="center">One System that keeps all members' data with secure cloud database </p>
						<!-- <a href="video/Video.mp4" class="btn1 btn--white big popup-youtube findout-more">FINDOUT MORE <span class="icon-right-arrow"></span></a> -->

					</div> 
					<!-- 7SnmCUwOsts -->
		  			<!-- <a id="bgndVideo" class="player" data-property="{videoURL:'cLzgEWcV2L0',containment:'#video', showControls:false, autoPlay:true, dloop:true, vol:100, mute:true, startAt:10, opacity:1, addRaster:false, quality:'default'}">My video</a> --> <!--BsekcY04xvQ-->

		  		</section>

		  		<!-- END VIDEO -->

		  		<!-- BEGIN PRICING -->

		  		<section id="pricing">
		  			
					<div class="container">
						
						<h3><strong>PRICING DETAILS</strong></h3>
						<p class="center">We have flexible pricing system that accomodates association of all sizes and cadre </p>

						<article class="center">
							<div class="num-price verticalize verticalize--full">
								<h2 class="verticalize__box"><strong>$99</strong></h2>
								<div>
									<h4><strong>BASIC</strong></h4>
								</div>
							</div>
							<!-- <p>Proin gravida nibh auctor. 
							Vel velit auctor aliquet aenean. Sollicitudin lorem quis bibe.
							Auctor elit consequat ipsum.
							Nec sagittis sem nibh id elit.
							Auctor aliquet aenean. </p> -->
							<a href="#" class="btn1 btn--blue medium">PAY</a>
						</article><!-- 
						 --><article class="center">
							<div class="num-price verticalize verticalize--full">
								<h2 class="verticalize__box"><strong>$299</strong></h2>
								<div>
									<h4><strong>CLASSIC</strong></h4>
								</div>
							</div>
							<!-- <p>Proin gravida nibh auctor. 
							Vel velit auctor aliquet aenean. Sollicitudin lorem quis bibe.
							Auctor elit consequat ipsum.
							Nec sagittis sem nibh id elit.
							Auctor aliquet aenean. </p> -->
							<a href="#" class="btn1 btn--blue medium">PAY</a>
						</article><!-- 
						 --><article class="center">
							<div class="num-price verticalize verticalize--full">
								<h2 class="verticalize__box"><strong>$399</strong></h2>
								<div>
									<h4><strong>PREMIUM</strong></h4>
								</div>
							</div>
							<!-- <p>Proin gravida nibh auctor. 
							Vel velit auctor aliquet aenean. Sollicitudin lorem quis bibe.
							Auctor elit consequat ipsum.
							Nec sagittis sem nibh id elit.
							Auctor aliquet aenean. </p> -->
							<a href="#" class="btn1 btn--blue medium">PAY</a>
						</article><!-- 
						 --><article class="center">
							<div class="num-price verticalize verticalize--full">
								<h2 class="verticalize__box"><strong>$599</strong></h2>
								<div>
									<h4><strong>PRO</strong></h4>
								</div>
							</div>
							<!-- <p>Proin gravida nibh auctor. 
							Vel velit auctor aliquet aenean. Sollicitudin lorem quis bibe.
							Auctor elit consequat ipsum.
							Nec sagittis sem nibh id elit.
							Auctor aliquet aenean. </p> -->
							<a href="#" class="btn1 btn--blue medium">PAY</a>
						</article>


					</div>

		  		</section>

		  		<!-- END PRICING -->

		  		<!-- BEGIN CUSTOMERS -->

		  		<section id="customers">

		  			<div class="container">
		  			
						<h3 class="dark-blue"><strong>TRUSTED BY THESE CUSTOMERS!</strong></h3>
						<p class="center">Based on our quality service, we are trusted by </p>

						<ul class="center list-inline">
							<li>
								<a href="#"><img src="<%= image_url('bovalino.png') %>" alt=""></a>
							</li>
							<li> 
								<a href="#"><img src="<%= image_url('bbc.png') %>" alt=""></a>
							</li>
							<li> 
								<a href="#"><img src="<%= image_url('google.png') %>" alt=""></a>
							</li>
							<li>  
								<a href="#"><img src="<%= image_url('focus.png') %>" alt=""></a>
							</li>
							<li>  
								<a href="#"><img src="<%= image_url('microsoft.png') %>" alt=""></a>
							</li>
						</ul>
 
		  			</div>

		  		</section>

		  		<!-- END CUSTOMERS -->

		  		<!-- BEGIN FOLLOW -->

		  		<section id="follow">

		  			<div class="container">

		  				<div class="row">
		  					
							<div class="col-lg-3 col-md-3">
					  	
					  			<article class="buzz center">
					  				
									<a href="https://twitter.com/ams" class="tweet inline"><span class="fa fa-twitter"></span></a>

									<h3><strong>AMS</strong></h3>

									<a href="https://twitter.com/ams" class="btn1 btn--white big follow-btn">FOLLOW US <span class="icon-right-arrow"></span></a>

					  			</article>
								
							</div>
							<div class="col-lg-9 col-md-9">

					  			<article class="follow-slider">

									<ul class="rslides" id="slider3">
									  <li>
									  	<div> 
										  	<img src="<%= image_url('follower-icon1.jpg') %>" alt="" class="left">
									  		<h4><strong>EJIRO</strong></h4>
									  		<h5 class="light-blue">@ejiro</h5>
									  	</div>
									  	<div class="clearfix"></div>
									  	<p>At AMS, Our goal is  <a href="https://www.facebook.com/ams" class="light-blue">to provide a smart software</a> for membership management!!</p>
									  </li>
									  <li>
									  	<div>
										  	<img src="<%= image_url('follower-icon1.jpg') %>" alt="" class="left">
									  		<h4><strong>Nick Johny</strong></h4>
									  		<h5 class="light-blue">@obradorius</h5>
									  	</div>
									  	<div class="clearfix"></div>
									  	<p>Uberly impressed with the new Berliner theme from <a href="https://twitter.com/themestreetnet" class="light-blue">@themestreetnet</a> awesome design &amp; code!!!</p>
									  </li>
									  <li>
									  	<div>  
										  	<img src="<%= image_url('follower-icon1.jpg') %>" alt="" class="left">
									  		<h4><strong>John Doe</strong></h4>
									  		<h5 class="light-blue">@obradorius</h5>
									  	</div>
									  	<div class="clearfix"></div>
									  	<p>Great new template from <a href="https://twitter.com/themestreetnet" class="light-blue">@themestreetnet</a> awesome design &amp; code!!!</p>
									  </li>
									</ul>
					  				
					  			</article>
								
							</div>

		  				</div>
			  			
		  			</div>

		  		</section>

		  		<!-- END FOLLOW -->

		  		<!-- BEGIN TEAM -->

		  		<section id="team">

		  			<article class="background-img">
			  			<div class="container">

			  				<h3 class="dark-blue"><strong>TEAM FORCE</strong></h3>
							<!-- <p class="center">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p> -->

			  			</div> 
		  			</article>

		  			<div class="container">
		  				<div id="owl2" class="owl-carousel owl-theme ">
							<div class="item">

								<img src="<%= image_url('team-img1.jpg') %>" alt="">
								<a href="#modal1" class="hover popup-modal">
									
									<h6>Michael Schneider</h6>
								</a>
							</div>
							<div class="item">
								<img src="<%= image_url('team-img2.jpg') %>" alt="">
								<a href="#modal2" class="hover popup-modal">
									
									<h6>Ana Teodorova </h6>
								</a>
							</div>
							<div class="item">
								<img src="<%= image_url('team-img3.jpg') %>" alt="">
								<a href="#modal3" class="hover popup-modal">
									
									<h6>Kristian Petrovic</h6>
								</a>
							</div>
							<div class="item">
								<img src="<%= image_url('team-img4.jpg') %>" alt="">
								<a href="#modal4" class="hover popup-modal">
									
									<h6>Gina Alba</h6>
								</a>
							</div>
							<div class="item">
								<img src="<%= image_url('team-img1.jpg') %>" alt="">
								<a href="#modal5" class="hover popup-modal">
									
									<h6>Gina Alba</h6>
								</a>
							</div>
							<div class="item">
								<img class="remove" src="<%= image_url('team-img1.jpg') %>" alt="">

								<div class="team verticalize verticalize--full ">
									<div class="verticalize__box">

										<img src="<%= image_url('plus.png') %>" alt="nesto">
										<h4><strong>BECOME PART <br>OF OUR <br> TEAM</strong></h4>
										<a href="#" class="btn1">JOIN US</a>
									</div>
								</div>
							</div>
						</div>
		  				
		  			</div>


					<div id="modal1" class="white-popup mfp-hide">

						<div class="row">

							<div class="col-lg-6">
								<img src="<%= image_url('team-img1.jpg') %>" alt="">
							</div>
							<div class="col-lg-6">

								<div class="person">
									<h4><strong>Name &amp; Lastname</strong></h4>
									<h5>Web designer</h5>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit actor aliquet aenean sollicitudin.</p> 
									<br>
									<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh uta cursus a sit amet mauris. Morbi cumsan ipsum velit. Nam nec tellus a odio incid unt auctor a ornare odio. Sed non  auris vitae erat </p>	
									<ul class="list-inline">
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google-plus"></span></a>
										</li>
										<li>
											<a href="#"><span class="icon-linkedin"></span></a>
										</li>
									</ul>
									
								</div>
								
							</div>

						</div>
			
					</div>

					<div id="modal2" class="white-popup mfp-hide">
						
						<div class="row">
							
							<div class="col-lg-6">

								<img src="<%= image_url('team-img2.jpg') %>" alt="">
							</div>
							<div class="col-lg-6">
							
								<div class="person">
									<h4><strong>Name &amp; Lastname</strong></h4>
									<h5>Web designer</h5>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit actor aliquet aenean sollicitudin.</p> 
									<br>
									<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh uta cursus a sit amet mauris. Morbi cumsan ipsum velit. Nam nec tellus a odio incid unt auctor a ornare odio. Sed non  auris vitae erat </p>	
									<ul class="list-inline">
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google-plus"></span></a>
										</li>
										<li>
											<a href="#"><span class="icon-linkedin"></span></a>
										</li>
									</ul>
									
								</div>
								
							</div>

						</div>
			
					</div>

					<div id="modal3" class="white-popup mfp-hide">
						
						<div class="row">
							
							<div class="col-lg-6">

								<img src="<%= image_url('team-img3.jpg') %>" alt="">
							</div>
							<div class="col-lg-6">
							
								<div class="person">
									<h4><strong>Name &amp; Lastname</strong></h4>
									<h5>Web designer</h5>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit actor aliquet aenean sollicitudin.</p> 
									<br>
									<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh uta cursus a sit amet mauris. Morbi cumsan ipsum velit. Nam nec tellus a odio incid unt auctor a ornare odio. Sed non  auris vitae erat </p>	
									<ul class="list-inline">
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google-plus"></span></a>
										</li>
										<li>
											<a href="#"><span class="icon-linkedin"></span></a>
										</li>
									</ul>
									
								</div>
								
							</div>

						</div>
			
					</div>

					<div id="modal4" class="white-popup mfp-hide">
						
						<div class="row">
							
							<div class="col-lg-6">
								<img src="<%= image_url('team-img4.jpg') %>" alt="">
							</div>
							<div class="col-lg-6">
							
								<div class="person">
									<h4><strong>Name &amp; Lastname</strong></h4>
									<h5>Web designer</h5>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit actor aliquet aenean sollicitudin.</p> 
									<br>
									<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh uta cursus a sit amet mauris. Morbi cumsan ipsum velit. Nam nec tellus a odio incid unt auctor a ornare odio. Sed non  auris vitae erat </p>	
									<ul class="list-inline">
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google-plus"></span></a>
										</li>
										<li>
											<a href="#"><span class="icon-linkedin"></span></a>
										</li>
									</ul>
									
								</div>
								
							</div>

						</div>
			
					</div>

					<div id="modal5" class="white-popup mfp-hide">
						
						<div class="row">
							
							<div class="col-lg-6">
								<img src="<%= image_url('team-img1.jpg') %>" alt="">
							</div>
							<div class="col-lg-6">
							
								<div class="person">
									<h4><strong>Name &amp; Lastname</strong></h4>
									<h5>Web designer</h5>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit actor aliquet aenean sollicitudin.</p> 
									<br>
									<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh uta cursus a sit amet mauris. Morbi cumsan ipsum velit. Nam nec tellus a odio incid unt auctor a ornare odio. Sed non  auris vitae erat </p>	
									<ul class="list-inline">
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google-plus"></span></a>
										</li>
										<li>
											<a href="#"><span class="icon-linkedin"></span></a>
										</li>
									</ul>
									
								</div>
								
							</div>

						</div>
			
					</div>
		  			
		  		</section>

		  		<!-- END TEAM -->

		  		<!-- BEGIN BLOG -->

		  		<section id="blog">

		  			<div class="container">

		  				<h3 class="dark-blue"><strong>SOME FACTS ABOUT US</strong></h3>
						<p class="center">Here is a quik overview of some our facts </p>

						<div class="row">

							<div class=" center col-lg-3 col-md-3 col-sm-6">
								<i class="icon icon--trophy"></i>
								<div id="lines1" class="anim-numb">6226</div>
								<h6>TOTAL RECORDS</h6>
							</div>
							<div class=" center col-lg-3 col-md-3 col-sm-6">
								<i class="icon icon--aperture"></i>
								<div id="lines2" class="anim-numb">1356</div>
								<h6>MEMBERS</h6>
							</div>
							<div class=" center col-lg-3 col-md-3 col-sm-6">
								<i class="icon icon--profile-male"></i>
								<div id="lines3" class="anim-numb">195</div>
								<h6>SATISFIED CLIENTS</h6>
							</div>
							<div class=" center col-lg-3 col-md-3 col-sm-6">
								<i class="icon icon--globe"></i>
								<div id="lines4" class="anim-numb">83</div>
								<h6>ALEXA RANK</h6>
							</div>
							
						</div>
		  				
		  			</div>
		  			
		  		</section>
		  		
		  		<!-- END BLOG -->

		  		<!-- BEGIN CONTACT -->

		  		<section id="contact">

					<div class="container">

						<h3 class="dark-blue"><strong>STAY IN TOUCH</strong></h3>

						<form id="contact-form" action="http://www.themestreet.net/berliner/form_data.php" novalidate>

			              	<div class="main-form">

			                	<div class="row">

			                  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			                  			<label for="name">
											<i class="fa fa-user"></i>
					                  		<input class="gray" id="name" name="name" type="text">
				                  			<span>NAME</span>
			                  			</label>

			                  		</div>

					                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					                	<label for="mail">
											<i class="fa fa-envelope"></i>
							                <input id="mail" class="gray" name="mail" type="text">
						                	<span>EMAIL</span>
					                	</label>

					                </div>

			                  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			                  			<label for="subject">
											<i class="fa fa-align-justify"></i>
					                  		<input id="subject" class="gray" name="subject" type="text">
				                  			<span>SUBJECT</span>
			                  			</label>

				              		</div>

			                	</div>

			                	<div class="row">

				                  	<div class="col-lg-12">
				                  		<label for="message">
											<i class="fa fa-align-justify"></i>
						                  	<textarea id="message" name="message" ></textarea>
					                  		<span>MESSAGE</span>
				                  		</label>

				                  	</div>

			                	</div>

			              	</div>


			              	<div class="human-test left">
			              	  <div id="test" class="left">
			              	    <p>PLEASE SELECT NUMBER : <span></span></p>
			              	  </div>
			              	  <div class="left">
			              	    <label>
			              	      <input type="radio" name="rand" value="one"><span>1</span>
			              	    </label><!-- 
			              	     --><label>
			              	      <input type="radio" name="rand" value="two"><span>2</span>
			              	    </label><!-- 
			              	     --><label>
			              	      <input type="radio" name="rand" value="three"><span>3</span>
			              	    </label><!-- 
			              	     --><label>
			              	      <input type="radio" name="rand" value="four"><span>4</span>
			              	    </label><!-- 
			              	     --><label>
			              	      <input type="radio" name="rand" value="five"><span>5</span>
			              	    </label>
			              	  </div>
			              	  <div class="clearfix"></div>
			              	</div>
			
		                  	<button class="btn1 btn--white big right" type="submit">SEND MESSAGE <span class="icon-right-arrow"></span></button>

			            </form>
						
					</div>
		  			
		  		

		  		<!-- END MAP -->

		  		<!-- BEGIN THEME -->

		  		<section class="theme">

		  			<div class="container">

  						<h3><strong>Please <span>subscribe</span> to our
						social media channels</strong></h3>

  						<!-- <a href="#" class="btn1 btn--blue medium right">GET IT NOW <span class="icon-right-arrow"></span></a> -->
		  				
		  			</div>
		  			
		  		</section>

		  		<!-- END THEME -->

		  		<!-- END SOCIAL -->

		  		<section class="social">

		  			<div class="container">

		  				<div class="row">
		  					
							<div class="col-lg-7">
								
								<form action="#">
									
									<label for="email">
										<i class="fa fa-envelope"></i>
				                  		<input id="email" class="gray" name="email" type="email">
			                  			<span>EMAIL</span>
		                  			</label>
		                  			<button type="submit" class="btn1 btn--white medium inline">SUBSCRIBE <span class="icon-right-arrow"></span></button>
		                  			
								</form>

							</div>
							<div class="col-lg-5">
								<ul class="list-inline">
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
									<li><a href="#"><span class="icon-linkedin"></span></a></li>
									<li><a href="#"><span class="icon-dribbble"></span></a></li>
									<li><a href="#"><span class="icon-vimeo"></span></a></li>   
								</ul>
							</div>

		  				</div>
		  				
		  			</div>

		  		</section>

		  		<!-- END SOCIAL -->

			</main>



			<!-- END MAIN -->

			<div class='layout_footer'></div>
		</div>

		<!-- BEGIN FOOTER -->

		<footer class='footer-main center'>

			<div class="container">

				<small><a href="#">AMS</a>©2017. All rights reserved</small>

			</div>

		</footer>

		<!-- END FOOTER -->

		<a id="top" href="#subheader"></a>


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- <script src="js/jquery-1.11.1.min.js"></script> -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- <script src="js/bootstrap.min.js"></script> -->
		<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
		<!-- <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script> -->
	    
		<!-- <script src="js/libs/jquery.autosize.js"></script> -->
		<!-- <script src="js/libs/jquery.watermark.min.js"></script> -->
		<!-- <script src="js/jquery.validate.js"></script> -->
		<!-- <script src="js/jquery.smooth-scroll.min.js"></script> -->
		<!-- <script src="js/jquery.easing.1.3.js"></script> -->
		<!-- <script src="js/jquery.nicescroll.min.html"></script> -->
		<!-- <script src="js/jquery.inview.min.js"></script> -->
		<!-- <script src="js/isotope.pkgd.min.js"></script> -->
		<!-- <script src="js/masonry.pkgd.min.js"></script> -->
		<!-- <script src="js/responsiveslides.min.js"></script> -->
		<!-- <script src="js/jquery.mb.YTPlayer.js"></script> -->
		<!-- <script src="js/jquery.magnific-popup.min.js"></script> -->
		<!-- <script src="js/jquery.animateNumber.min.js"></script> -->
		<!-- <script src="js/owl.carousel.min.js"></script> -->
		<!-- initial scripts -->
		<!-- <script src="js/init.js"></script> -->


		<!--[if (gte IE 6)&(lte IE 8)]>
			<script src="js/libs/selectivizr-min.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
		    //Make visible media queries to IE7 , IE8 (visible only on server or localhost)
 
		    <link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
		    <script src="js/libs/respond.src.js"></script>
		<![endif]-->	


		

	

