
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- TODO Add Sidebar Panel -->
    <%= render partial: "users/sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content card-start ">
            <div class="container-fluid">


               <!-- when empty -->
            <% if @all_interview.length == 0  %>
             <%= render partial: "when_empty" %>
            <% end %>

                <div class="row" >

                  <% @all_interview.each do |interview| %>
                  <% unfinish_submission = interview.submissions.where("current_no < ?", 500) %>
                  <% submissions_total = interview.submissions %>
                  <% submissions = interview.submissions.where(current_no: 500) %>

                      <div class=" col-md-4">
                          <div class="img-responsive card box-shape">
                            <%= link_to company_interview_single_path(company_id: @company.slug, interview_id: interview.slug ) do %>
                              <div class="content">

                                      <p><%= truncate( interview.title, :length => 35) %> </p>
                                      <div class="text-center numbers-1">
                                          <%= submissions.length %>
                                        <br>
                                      </div>
                                  <div class="chart-legend">
                                       <br> <i class="fa fa-circle text-danger"></i> Unfinished: <%= unfinish_submission.length %>
                                       <br> <i class="fa fa-circle text-danger"></i> Started: <%= submissions_total.length - (unfinish_submission.length + submissions.length) %>
                                       <br><i class="fa fa-circle text-warning"></i> Total : <%= submissions_total.length %>
                                       <br><i class="fa fa-circle text-warning"></i> No of question : <%= interview.questions.length %>
                                    </div>
                                  <div class="footer">
                                      <hr>
                                      <div class="stats">
                                          <!-- <i class="ti-reload"> -->
                                          </i> Interview token: <%= interview.interview_token %>
                                      </div>
                                  </div>
                              </div>

                            <% end %>
                          </div>
                      </div>

                  <% end %>
                </div>

            </div>
        </div>

    </div>
    </div>
</div>


<script>


</script>