
<div class="wrapper">
     <%= render partial: "sidebar" %>
    <div class="main-panel expand">

        <!-- TODO Add Footer Partial -->
        <%= render partial: "navbar" %>


        <div class="content">
            <div class="container-fluid">

            	<div class="row">
                        <div class="header col-md-4 col-md-offset-2">
                                <h4 class="title">Associations (<%= @user.groups.length %>)</h4>
                        </div>
                        <% if @user.groups.length > 0 %>
                          <div class="col-md-4 col-md-offset-2">
                              <%= link_to new_group_path do %>
                                  <button  type="button" class="btn btn-raised btn-twitter">New Association</button>
                              <% end %>
                          </div>


                        <% end %>
                        <!-- test for zero state -->
                        <% if @user.groups.length > 0 %>

                          <div class="card col-md-8 col-md-offset-2 box-shape">
                            <div class="content">
                                <ul class="list-unstyled team-members">

                                    <% @user.groups.each do | user_company| %>
                                      <li>


                                        <%= link_to group_path(user_company, c:"1") do %>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="">
                                                    <% if user_company.logo.file.nil? %>
                                                           <%= image_tag('logo1.png', height:"55") %>
                                                       <% else %>

                                                            <img src="<%= user_company.logo.url %>" height="55"  />
                                                       <% end %>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <%= user_company.name %>
                                                <!-- get number of collaborators -->


                                                <br>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                             <span class="text-muted">
                                                               Status: Owner
                                                             </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                          <span class="text-muted">

                                                          </span>
                                                        </div>
                                                    </div>


                                            </div>

                                            <div class="col-xs-3 text-right">
                                               <!--  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn> -->
                                            </div>
                                        </div>

                                        <% end %>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>


                        <% else %>
                          <div class="col-md-8 col-md-offset-2">
                            <div class="content">
                              <%= render partial: "when_empty" %>
                            </div>
                          </div>
                        <% end %>

                    </div>
    </div>
</div>

    </div>
</div>

<script >

<% flash.each do |key, value| %>
    showMessage('top','center', "<%= value %>", 2);
<% end %>

</script>


