  <div class="wizard-header">
        <h3 class="wizard-title"><%= n %></h3>
        <p class="category">Kindly fill out the interview details as required </p>
    </div>

<div class="wizard-navigation">
<div class="progress-with-circle">
 <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
</div>
<ul>
            <li>
<a href="#details" data-toggle="tab">
  <div class="icon-circle">
    <i class="ti-list"></i>
  </div>
  Details
</a>
</li>
            <li>
<a href="#captain" data-toggle="tab">
  <div class="icon-circle">
    <i class="ti-pencil"></i>
  </div>
  Image
</a>
</li>

        </ul>
</div>
      <div class="tab-content">
          <div class="tab-pane" id="details">

                                  <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                   <%= f.label :association %>
                                                   <%= f.text_field :name,:id => 'title-association', :value => 'group name', :placeholder => 'Role Title', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                 <%= f.label :username %>
                                                <%= f.text_field :name,:id => 'title-username', :placeholder => 'Username', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <%= f.label :email %>
                                                <%= f.text_field :email,:id => 'title-email', :placeholder => 'Email', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                    </div>

                                      <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <%= f.label :first_name %>
                                                 <%= f.text_field :name,:id => 'title-fname', :placeholder => 'First Name', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                 <%= f.label :telephone %>
                                               <%= f.text_field :telephone,:id => 'title-sname', :placeholder => 'Telephone', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                             <%= f.label :address %>
                                                <%= f.text_field :address,:id => 'title-address', :placeholder => 'Address', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <%= f.label :city %>
                                                <%= f.text_field :name,:id => 'title-city', :placeholder => 'City', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                   <%= f.label :country %>
                                                   <%= f.text_field :name,:id => 'title-country', :placeholder => 'Country', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            <%= f.label :country %>
                                                <label>Postal Code</label>
                                                <%= f.text_field :name,:id => 'title-postalcode', :placeholder => 'Postal code', class: "form-control border-input interview-details", html: {spellcheck: "false"} %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <%= f.label :about_me %>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                                            </div>
                                        </div>
                                    </div>



   <br><br>
    


    <!-- add to public interview page -->

        <!-- <h5 class="info-text"> Get notification(s) via?  </h5> -->
        <!-- <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="col-sm-4">
                    <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox"  value="Design">
                        <div class="card card-checkboxes card-hover-effect">
                            <i class="ti-email"></i>
                            <p>Add to public page</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="choice" data-toggle="wizard-checkbox">
                        <input type="checkbox"  value="Code">
                        <div class="card card-checkboxes card-hover-effect">
                            <i class="ti-comment"></i>
                            <p>Sms</p>
                        </div>
                    </div>
                </div>
      
            </div>
        </div> -->
 

      <!-- end public interview page  -->

    



        </div>
          <div class="tab-pane" id="captain">
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                   

      <div class="text-center">
        <h5>Add Member Image </h5>
        <div class="row" >
          
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <%= image_tag('default.jpg', class:"picture-src", id:"wizardPicturePreview",title:"") %>

                                                        <input type="file" id="wizard-picture" name="">
                                                    </div>
                                                    <h6>Choose Logo</h6>
                                                    <small> Transparent 330 X 80 </small>
                                                </div>
                                            
      
        </div>
      </div>

      
        <hr>
     

    
                           
                  </div>
              </div>
          </div>
          
      </div>
      <div class="wizard-footer">
        <div class="pull-right">
              <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Next' />
              <%= f.submit :id => 'interview-submit', :value => d, class: "btn btn-finish btn-fill btn-info btn-wd", name:'finish' %>
          </div>

          <div class="pull-left">
              <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
          </div>
          <div class="clearfix"></div>
          <br>
      </div>


<script>



  $('#date').datepicker({
    dateFormat:"yy-mm-dd",
    minDate: 0
  });

</script>
