

<div class="wrapper">
   <%= render partial: "users/sidebar" %>
    <div class="main-panel expand">

        <!-- TODO Add Footer Partial -->
        <%= render partial: "users/navbar" %>


        <div class="content">
            <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">


                  <div class="card card-user">

                         <div class="image">
                            <%= image_tag('background.jpg') %>
                        </div>
                        <div class="content">
                            <div class="author">


                            <% if @member.pic.file.nil? %>
                                <%= image_tag('default-avatar.png', class:"avatar border-white", alt:"...") %>

                            <% else %>
                                <img src="<%=@member.pic.url %>"  class="avatar border-white" alt="..." />

                            <% end %>

                              <h4 class="title"><%= @member.name %><br>
                                 <a href="#"><small><%= @member.email %></small></a>
                              </h4>
                            </div>
                            <p class="description text-center">

                                  Status: Member



                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-6">
                                   <%= link_to user_profile_path(current_user) do %>
                                      <h5><%= puts 5 %><br><small>Application(s)</small></h5>
                                   <% end %>
                                </div>
                                <div class="col-md-6">
                                  <%= link_to user_profile_path(current_user) do %>
                                      <h5><%= puts 10 %><br><small> Organization(s)</small></h5>
                                   <% end %>
                                </div>

                            </div>
                        </div>
                    </div>





         <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card box-shape">
                      <div>
                          <div class="header">
                            <%= link_to 'Edit member details', edit_group_member_path(group_id:@group.slug, id:@member.id), class: "btn float-right box-shape" %>

                          </div>
                      </div>


                    <div class="content">
                        <div class="content table-responsive table-full-width">
                          <table class="table table-striped">
                            <tbody>
                              <tr><td >Name</td><td style="white-space: pre-line;"><%= @member.name %></td></tr>
                              <tr><td>Age</td><td style="white-space: pre-line;"><%= @member.age %></td></tr>
                              <tr><td>Email</td><td style="white-space: pre-line;"><%= @member.email %></td></tr>
                              <tr><td>Telephone</td><td><%= @member.telephone %></td></tr>
                              <tr><td>Address</td><td><%= @member.address %></td></tr>

                            <tr><td>City</td><td><%= @member.city %></td></tr>
                             <tr><td>Details</td><td><%= @member.info %></td></tr>
                            </tbody>
                          </table>
                        </div>
                    </div> 


              </div>
           </div>

        </div>


</div>
</div>
</div>
</div>
</div>





 <script >
    <% flash.each do |key, value| %>
        showMessage('top','center', "<%= value %>", 2);
    <% end %>
</script>